.button-nav .filter {
  color: var(--title-text-color);
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button-nav .filter:hover,
.button-nav .filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.filter-current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.projects-nav .link {
  text-decoration: none;
}

.projects-name {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-type {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.projects-text {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
